Education/___AI_______/02_챗GPT 활용한 고급 데이터 분석_명령프롬프트.txt
Education/openai_api_____/data/embedding.csv
Education/Openai_api/data/embedding.csv
NLP/LLM/pth/model_final.pth
NLP/LLM/pth/gpt3_model_final.pth
NLP/LLM_Finetune/pth/final_mode.pth
CV/Object_Detection/SSD_MobilenetV2/project/MobileNetV2_SSD300_2.mlpackage/Data/com.apple.CoreML/model.mlmodel
CV/Object_Detection/SSD_MobilenetV2/project/MobileNetV2_SSDLite.mlpackage/Data/com.apple.CoreML/MobileNetV2_SSDLite.mlmodel
